body {
    color: #0a0814;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: initial;
    font-size: 16px;
  }
  
  .heading-container {
    text-align: center;
    margin-top: 10px;
    color: rgb(12, 5, 6);
    background-color: yellow;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1em;
    padding: 0.5em;
    margin: 0 auto;
    background-image: url("https://blog.mangrovejacks.com/hs-fs/hubfs/The%20Beer%20Brewing%20Process.jpg?width=826&name=The%20Beer%20Brewing%20Process.jpg");
  }
  
  .container {
    background-color: lavender;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    
  }